.pushed-top-1x {
    margin-top: 50px;
}
.pushed-top {
    margin-top: 100px;
}

.pushed-bottom {
    margin-bottom: 100px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.dp {
    text-align: center;
    padding: 13px;
    color: #fff;
}

.btn-floating {
    transform: rotate(0deg);

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.btn-floating:hover {
    transform: rotate(50deg);
    color: #fff !important;

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}



html {
    scroll-behavior: smooth;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

input {
    border-bottom: 2px solid #ffb300  !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    border-bottom: #ffb300;
}

input:focus {
    border-bottom: 2.5px solid #000 !important;
    box-shadow: #000 0px 0px 0px !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}


.nav-content input {
    border-bottom: 2px solid #ffb300  !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.nav-content input:focus {
    border-bottom: 2.5px solid #fff !important;
    box-shadow: #fff 0px 0px 0px !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

textarea {
    border-bottom: 2px solid #000000 !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

textarea:focus {
    border-bottom: 2.5px solid #000 !important;
    box-shadow: #000 0px 0px 0px !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.fa-play {
    font-size: 15pt;
}

label {
    color: #000 !important;
    padding-top: 10px !important;
}

label .active {
    color: #ffb300 ;
}


body {
    overflow-x: hidden;
}

#user-form {
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color:#ffb300;
}

a:hover {
    text-decoration: none;
    color: #ffb300 ;
}

nav a:hover {
    color: #fff !important;
}

.btn-round {
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.from .col,
.to .col {
    border-radius: 5px;
    box-shadow: #7a7a7a 1px 1px 4px;
    padding: 5px;
    padding-right: 20px;
    max-width: 80%;
    margin: 5px;
    background-color: #e9e9e985;
}

.from .col p , .to .col p {
    margin: 0;
    font-size: 10pt;
}

.time {
    font-size: 6pt;
    line-height: 0px;
    text-align: right;
    color: #7a7a7a;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../images/loader.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}
